@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.hide_scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide_scrollbar::-webkit-scrollbar {
    display: none;
}
